
body,html{
    margin: 0;
    padding: 0;
}


.bg-primary{
    background-color: $primary !important;
}
.bg-secondary{
    background-color: $secondary !important;
}
.bg-success{
    background-color: $success !important;
}
.bg-danger{
    background-color: $danger !important;
}
.bg-warning{
    background-color: $warning !important;
}
.bg-info{
    background-color: $info !important;
}